@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "Coustom_Layout";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Page</title>
    
</head>
<body>
    <div class="intro-container">
        <h1>Hello, I'm @ViewBag.Name 👋</h1>
        <h1>My Employee Number is @ViewBag.EmpNo</h1>
        <h1>My Salary is @ViewBag.Basic</h1>
        <h1>My Department Name is @ViewBag.DeptNo</h1>
    </div>
</body>
</html>

